html, body {
  height: 100vh;
}

* {
  font-family: 'Merriweather', serif;
}


#header {
  height: 100vh;
  background-image: url(./bgimages/Header.jpg);
  background-position: center;
}

#record {
  height: 50vh;
}

#twitter {
  height: 2.3rem;
}

#confirmation {
  background-image: url(./bgimages/Conformation.jpg);
  background-size: cover;
  height: 100vh;
  background-position: top;
}

#quote1 {
  background-image: url(./bgimages/Quote-BG1.jpg);
  background-size: cover;
  height: 80vh;
  background-position: center;
  z-index: -1;
}

#past {
  color: #115179;
}

#quote2 {
  background-image: url(./bgimages/Quote-BG2.jpg);
  background-size: cover;
  height: 80vh;
  background-position: center;
}

#pedigree {
  height: 70vh;
}

#Footer {
  height: calc(30vh + 25px);
}

.sans, .sans * {
  font-family: 'Roboto', sans-serif !important;
}

.bluetext {
  color: #AAC6C4;
  font-size: 1.25rem !important;
  font-weight: bolder;
}

.speed {
  color: #0F5079;
  font-size: 1.25rem !important;
  font-weight: bolder;
}

.speed2 {
  color: #0F5079;
  font-size: 1.25rem !important;
  /* font-weight: bolder; */

}

.spaced {
  letter-spacing: .25rem;
}

.bolder {
  font-weight: bolder;
}

.title {
  margin-top: calc(40vh - 13px);
}
.gradient {
  background-image: url(./bgimages/GradientBG.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.gradient2 {
  background-image: url(./bgimages/GradientBG-flipped.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.doubleSpace {
  line-height: 2.5rem;
}

.tripleSpace {
  line-height: 3rem;
}

.recordText {
  margin: calc(10vh + 5px) calc(5vw + 3px) 0;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 .75rem .75rem 0;
  display: inline-block;
  padding: 1rem;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.p40 {
  height: 45vh;
  z-index: 1;
}

.billboard {
  border-top: 10px solid #273844;
  height: calc(48vh + 55px);
  width: 85%;
  position: relative;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}

.readmore {
  border: none;
  background-color: #273844 !important;
  border-color: #273844 !important;
  border-radius: 0px !important;
  color: white !important;
  font-size: 1.8rem !important;
  position: absolute;
  bottom:   0;
  /* float: unset; */
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%);
}

.readmore::after {
  border: none;
}

.readmore:hover {
  border: none;
}

.p50 {
  padding-top: calc(35vh - 15px);
}
table {
  margin: 0px;
  width: 100vw;
}

td {
  border: 3px solid #447294 !important;
  padding: calc(3vw + 2px) calc(2vw + 3px);
  font-size: 1.6rem;
}

.wps {
  font-size: 5.5rem;
  text-align: center;
  padding: calc(5vw + 8px) calc(8vw + 8px);
}

.pastBTN {
  background-color: #273844 !important;
  border-color: #273844 !important;
  border-radius: 0px !important;
  color: white !important;
  font-size: 2.5rem;
  border: none;
}

.silks {
  height: 5rem;
  margin-left: 2vh;
  margin-right: 2vh;
}

.buck {
  height: 8rem;
}

.crawford {
  position: relative;
  margin-top: 50%;
}